* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  line-height: 1.4;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.main {
  background: #fff;
  box-shadow: rgba(60,60,67,0.3) 0px 1px 2px 0px, rgba(60,64,67,0.15) 0px 1px 3px 1px;
  width: 60rem;
  border-radius: .5rem;
}